ansi==0.1.3
asn1crypto==0.24.0
astroid==2.0.4
beautifulsoup4==4.6.3
bottle==0.12.13
certifi==2018.8.24
cffi==1.11.5
chardet==3.0.4
click==6.7
colorlog==3.1.4
cryptography==2.3.1
daemonize==2.4.7
dnspython==1.15.0
dnspython3==1.15.0
errbot==5.2.0
Flask==1.0.2
github-webhook==1.0.2
idna==2.7
isort==4.3.4
itsdangerous==0.24
Jinja2==2.11.3
lazy-object-proxy==1.3.1
Markdown==2.6.11
MarkupSafe==1.0
mccabe==0.6.1
pycparser==2.18
PyGithub==1.40
Pygments==2.2.0
pygments-markdown-lexer==0.1.0.dev39
PyJWT==1.6.4
pylint==2.1.1
pyOpenSSL==18.0.0
requests==2.19.1
rocket-errbot==1.2.5
six==1.11.0
urllib3==1.23
waitress==1.4.2
WebOb==1.8.2
WebTest==2.0.30
Werkzeug==0.14.1
wrapt==1.10.11
Yapsy==1.12.0
